.App {
  text-align: center;
  padding-top: 240px;
}
.App-header {
  text-align: center;
}
.Login-button {

}
.ListStudents{
  text-align: center;
  padding-top: 150px;
}
.Logout{
  float: right;
}
.LogoutMenuItem{
  float: right;
}